.formCss {
  font-size: 22px;
}

.secondField {
  margin-left: 40px;
}

#close {
  color: red;
}

#done {
  color: green;
}

.button {
  font-size: 22px;
}

#CancelBtn {
  margin-left: 10px;
  font-size: 22px;
}

#saveBtn {
  font-size: 22px;
}

#close {
  font-size: 22px;
}
