<ng-container *ngIf="true">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
          <th>Product Name</th>
          <th>Product Image</th>
          <th>Description</th>
          <th>Price</th>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Iphone</td>
            <td>Some image</td>
            <td>50000</td>
            <td>1</td>
            <td>
              <button class="btn btn-danger"><i class="fas fa-trash-alt"></i> </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="false">
  <div class="container">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
      <img src="" alt="">
      <h4>Your cart is empty</h4>
      <h6>Add item to it now</h6>
      <button class="cartBtn">Shop now</button>
    </div>
  </div>
</ng-container>
