/* Navbar container */
.navbar {
  overflow: hidden;
}

.subCategory {
  margin:auto;
}

.category {
  margin: auto;
}

.searchbar {
  width: 100%
}

.CartBtn {
  background-color: transparent;
  border: none;
  margin-right: 100px;
}

.container{
  margin-top: 15px;

}

.card{
  margin-left: 25px;
}

.img {
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
}
