/* Navbar container */
.navbar {
  overflow: hidden;
}

.subCategory {
  margin:auto;
  font-size: 20px;
  font-family: sans-serif;
}

.category {
  margin: auto;
  font-size: 20px;
  font-family: sans-serif;
}

.searchbar {
  width: 100%
}

.CartBtn {
  background-color: transparent;
  border: none;
  margin-right: 100px;
}

.container{
  margin-top: 15px;
}

.card{
  margin-left: 25px;
}

.item {
  margin: 0px 15px;
  text-align: center;
}

.item a:hover {
  color: blue;
}

.card {
  padding: 20px;
  margin: 25px;
}

.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}

.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}

#addBtn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
  :hover{
    transform: translateY(-2px);
  }
}

.ng-autocomplete {
  font-size: 24px;
}

.selectContainer {
  font-size: 18px;
}

.btn {
  font-size: 20px;
}
