/* Navbar container */
.navbar {
  overflow: hidden;
}

.subCategory {
  margin:auto;
}

.category {
  margin: auto;
}

.searchbar {
  width: 100%
}

.CartBtn {
  background-color: transparent;
  border: none;
  margin-right: 100px;
}
