<div class="container" id="container" [ngClass]="{'right-panel-active':activeClass}">
<div class="form-container sign-up-container">
  <form action="#">
      <h1>Create Account</h1>
      <div class="firstandlast">
        <input type="text" placeholder="Firstname"/>
        <input type="text" placeholder="Lastname" class="right" />
      </div>
      <div class="usernameandemail">
        <input type="text" placeholder="Username"/>
        <input type="email" placeholder="Email" class="right"/>
      </div>
      <div class="phoneandbirthday">
       <input type="text" placeholder="Phone number"/>
        <input type="text" placeholder="Birthday" onfocus="(this.type='date')" class="right"/>
      </div>
      <div class="locationandpassword">
      <input type="text" placeholder="Location"/>
      <input type="password" placeholder="Password" class="right"/>
    </div>
      <button>Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Sign in</h1>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button>Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Already have an account?</h1>
        <button class="ghost" id="signIn" (click)="toggleClass()" >Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Don't have an account yet?</h1>
        <p>Sign up and start selling your used products today</p>
        <button class="ghost" id="signUp" (click)="toggleClass()" >Sign Up</button>
      </div>
    </div>
  </div>
</div>
