<h1>Edit selected Customer here</h1>
<form>
  <div mat-dialog-content>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <input matInput placeholder="New password" type="string" [(ngModel)]="password" value="{{password}}"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    <p>
      <button mat-raised-button (click)="savePassword()">Save</button>
      <button mat-raised-button (click)="close()">Cancel</button>
    </p>
  </div>
</form>
