table {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.mat-form-field {
  width: 80%;
  padding: 10px;
  margin-left: 195px;
}

.mat-input-element {
  width: 80%;
  padding: 10px;
}

.mat-table {
  overflow-x: scroll;
}

.mat-cell {
  font-size: 16px;
}

.mat-header-cell {
  font-size: 18px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-paginator {
  margin: auto;
  width: 80%;
  padding: 10px;
}


.mat-column-id {
  width: 5%;
}

.mat-column-firstName {
  width: 20%;
  padding: 10px;
  margin: auto;
}

.mat-column-lastName {
  width: 20%;
}

.mat-column-username {
  width: 20%;
  padding: 10px;
  margin: auto;
}

.mat-column-email {
  width: 20%;
  padding: 10px;
  margin: auto;

}

.mat-raised-button {
  background-color: transparent;
}

#edit {
  color: green;
  margin-left: 5px;
}

#delete {
  color: red;
  margin-left: 25px;
}
