.body {
  width: calc(100% - 5rem);
  height: 110%;
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  padding: 3rem;
}


.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin: 5rem;
}

.reset-this-root {
  all: initial;
  all: unset;
}
