<div class="grid-view" *ngIf="view == 'grid'">
  <div class="product text-center">
    <div class="product-header fw-bold fs-5 text-success">
      Header
    </div>

    <div class="overflow-hidden d-flex justify-content-center align-items-center">
      <img src="../../../assets/iphone.png" alt="" class="product-img-top">
    </div>

    <div class="product-body">
      <h5 class="product-title title"> Title </h5>
      <h6 class="product-subtitle my-2 text-primary"> 12 products are availabe. </h6>
      <p class="product-text description"> Description </p>
    </div>

    <div class="product-body">
      <h5 class="product-title "> Final Price
        <span class="text-primary"> -20%
      </span>
      </h5>
      <h6 class="product-subtitle text-danger text-decoration-line-through">
        Original Price
      </h6>
    </div>

    <div class="product-footer d-grid gap-2">
      <button class="btn" type="button"> Køb </button>
    </div>

  </div>
</div>

<div class="list-view"*ngIf="view == 'list'">
  <div class="product">
    <div class="row">
      <div class="col-md-4 overflow-hidden d-flex justify-content-center align-items-center">
        <img src="../../../assets/iphone.png" class="img-fluid rounded-start" alt="Product Image">
      </div>
      <div class="col">
        <div class="product-header text-center">
          Produkt navn
        </div>

        <div class="product-body">
          <h5 class="product-subtitle"> Kategori
            <span >-->
          <span id="SubCategory"> Underkategori</span></span>
          </h5>
          <p class="product-text description"> Beskrivelse </p>
          <h6 class="product-subtitle mb-3"> Lokation: 6700 </h6>
        </div>

        <div class="product-body">
          <h4 class="product-title ">Sælgers navn</h4>
          <h2 class="product-title">
            Tlf:
            <span class=""> 12345678 </span>
          </h2>
          <h5 class="product-subtitle "> Pris:
            <span class=""> 56
        <span class=""> kr.
        </span>
        </span>
          </h5>
        </div>

        <div class="product-footer text-muted d-grid gap-2">
          <button class="btn" id="buyBtn" type="button" >Tilføj til kurv</button>
        </div>
      </div>
    </div>
  </div>
</div>
