<form>
  <div class="wrapper">
    <p>
      <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">X</button>
      </mat-dialog-actions>
    </p>
    <p>
      <img id="img" src="{{imageUrl}}" alt="">
    </p>

    <div fxLayout="row wrap" fxLayoutGap="16px grid" class="productDetails">
        <div fxLayout="column" fxFlex = "45">
          <h2 class="title">Product Information</h2>
          <p>
            <mat-label><strong>Product name: </strong> {{productName}}</mat-label>
          </p>
          <p>
            <mat-label><strong>Price: </strong>{{price}} kr.</mat-label>
          </p>
          <p>
            <mat-label><strong>Condition: </strong>{{productCondition.name}} </mat-label>
          </p>
          <p>
            <mat-label><strong>Description: </strong> {{description}}</mat-label>
          </p>
        </div>

        <div fxLayout="column" fxFlex = "45" class="labelCss2">
          <h2 class="title">Seller's Information:</h2>
          <p>
            <mat-label><strong>Sellers name: </strong> {{user.firstName}} {{user.lastName}}</mat-label>
          </p>
          <p>
            <mat-label><strong>Phone number: </strong> {{user.phoneNumber}}</mat-label>
          </p>
          <p>
            <mat-label><strong>E-mail: </strong> {{user.email}}</mat-label>
          </p>
          <p>
            <mat-label><strong> Location: </strong> {{user.location}}</mat-label>
          </p>
        </div>
    </div>
  </div>
</form>
