.container {
  font-size: 18px;
}

.mat-icon {
  height: 32.5px;
  width: 32.5px;
}

#edit {
  font-size: 32.5px;
  color: green;
  cursor: pointer;
  margin-left: 90px;
}

#delete {
  font-size: 32.5px;
  color: red;
  cursor: pointer;
  margin-left: 50px;
}

.item img {
  width: 64px;
}

.item {
  margin: 0px 15px;
  text-align: center;
}

.item a:hover {
  color: blue;
}

.card {
  padding: 20px;
  margin: 50px;
}

.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}

.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

h1,
p,
a{
  margin: 0;
  padding: 0;
  font-family: 'Lato', serif;
}

h1 {
  font-size: 3.6em;
  padding: 10px 0;
  font-weight: 800;
}

#headerText {
  font-size: 1.8em;
  font-weight: 100;
  letter-spacing: 5px;
}

.header {
  width: 100%;
  padding:35px 0;
  text-align: center;
  background: #FE0944;
  color: white;
}

.disable:hover{
  cursor: not-allowed;
}
.disable:active{
  pointer-events: none;
}
mat-icon.disable {
  filter:opacity(0.5);
}
