<section class="header">
  <h1>Your products for sale</h1>
  <p id="headerText">View, update or delete your products here!</p>
</section>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of currentItemsToShow">
      <div class="card col-md-3">
        <img src="{{item.imageUrl}}" alt="">
        <p><strong>Name:</strong> {{item.productName}}</p>
        <p><strong>Price:</strong> {{item.price}}</p>
        <p><strong>Description:</strong> {{item.description}}</p>
        <p>
        <mat-icon id="edit" (click)="openEditProduct(item)">edit</mat-icon>
        <mat-icon id="delete" (click)="deleteProduct(item.id)">delete</mat-icon>
        </p>
      </div>
    </ng-container>
    <mat-paginator class="mat-elevation-z8"
                   [length]="100"
                   [pageSize]="6"
                   [pageSizeOptions]="[3, 6, 9]"
                   (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
