table {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.mat-form-field {
  width: 20%;
  padding: 10px;
}

.mat-cell {
  font-size: 16px;
}

.mat-header-cell {
  font-size: 18px;
}



